<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Awesomium.NetWrapper.Unofficial.fix" version="1.7.5.01" targetFramework="net48" />
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net48" />
  <package id="DiscordRichPresence" version="1.0.150" targetFramework="net48" />
  <package id="jQuery" version="3.3.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net48" />
</packages>